html{
    box-sizing: border-box;
    }
    *, *:after, *:before {
box-sizing: inherit;
    }



.body {
    background-color:#fefefe;
    background-image: url('../img/jasny.jpg');
    background-repeat:repeat;


}

.about {
    width: 100%;
    max-width: 1000px;
}

.about__header {
    color: rgb(4, 4, 65);
    
}

.about__link {
    color: #5762D5;
}

.about__paragraph {
    padding: 0 0 0 16px;
    border-left: 2px dashed #5762D5;
    font-size: 18px;
    font-style: italic;
    text-align: justify;
    line-height: 24px;
}
.about__paragraph--mini {
font-size: 16px;
}

.about__picture {
    width: 100%;
    max-width: 110px;
    display: block;
    float: left;
    margin: 0px 16px 16px 0px;
    border-radius: 10px;
}
.box__paragraph {
    color: #534c5f;
}

.main {
    width: 100%;
    max-width: 1000px;
    margin: 32px auto;
    padding: 16px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    
}

.main__header {

    text-align: left;
    color: rgb(9, 5, 66);
    max-width: 1000px;
    padding: 0px;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
}
.main__header--secondary{
    text-align: left;
    color: rgb(4, 4, 65);
    max-width: 1000px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 24px;
    display: flex;
    justify-content: center;
   
    
}
.site-header{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    box-sizing: border-box;
    left: 0;
    padding: 16px;
    position: fixed;
    top: 0;
    width: 100%;
  
}
.article__header{
    color: #5762D5;
}
.article__paragraph{
    color: #534c5f;
    font-family: 'Franklin Gothic Medium';
    text-align: justify;
    padding: 0 0 0 16px;
    border-left: 2px dashed rgb(236, 84, 13);
    line-height: 24px;
}
.article__picture{
    width: 110%;
    height: 100px;
    max-width: 110px;
    display: block;
    float: right;
    margin: 0px 16px 16px 16px;
    border-radius: 10px;
}
.article__ending{
    text-align: center;
    color: rgb(4, 4, 65);
    max-width: 1000px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.article__conclusion{
    color: #534c5f;
    font-family: 'Franklin Gothic Medium';
    text-align: justify;
    padding: 0 0 0 0px;
    font-style: italic;
    line-height: 24px;
}
}
.diary{
    color: rgb(4, 4, 65);
   
}
.diary__header {
    color: #5762D5;
}
.diary__paragraph {
    color: #534c5f;
    font-family: 'Franklin Gothic Medium';
    text-align: justify;
    padding: 0 0 0 16px;
    border-left: 2px dashed #5762D5;
    line-height: 24px;
}
.diary__picture{
    width: 100%;
    max-width: 150px;
    display: block;
    float: left;
    margin: 0px 16px 0px 10px;   
    border-radius: 10px;
}

.diary__header--question{
    text-align: justify;
    padding: 0 0 0 0px;
}

.diary__link {
    color: #5762D5;
    
}

.navigation {

}
.navigation__list {
list-style: none;
padding: 0;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
}

.navigation__item {
display: block;
margin: 0 16px;
}
.navigation__link {
    color: #5762D5;
}

.section__idea{
    color: #5762D5;
}
.section__paragraph{
    color: #534c5f;
    font-family: 'Franklin Gothic Medium';
    text-align: justify;
    padding: 0 0 0 16px;
    border-left: 2px dashed rgb(236, 84, 13);
    line-height: 24px;
}
.section__zumba{
    width: 100%;
    max-width: 150px;
    display: block;
    float: left;
    margin: 0px 16px 0px 10px;  
    line-height: 24px; 
}
.zumba__trener{
    width: 100%;
    max-width: 150px;
    display: block;
    float: left;
    margin: 0px 16px 0px 10px;   
    border-radius: 10px;
}


.footer__look {
    color: rgb(4, 4, 65);
    font-family: 'Franklin Gothic Medium';
    width: 100%;
    max-width: 1000px;
    margin: 32px auto;
    font-size: 14px;
    font-style: italic;
    border-top-color: 2px dashed rgb(236, 84, 13);
    line-height: 24px;
}
.footer__paragrah{
  
}

.hobby{

}

.hobby__list{
    list-style: square;
    
}