
.body {
    background: #fefefe;
 
}
.link {
    color: rgb(102, 109, 116);
}

.mainHeader {
    text-align: left;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(109, 109, 134), 0 0 5px rgb(34, 34, 97);
    
}


.sectionHeader {
    color: #5762D5;
   
   
}

.sectionDiary {
    color: #5762D5;
   
}

.diaryDay {
    color: rgb(4, 4, 65);
}

p {
    color: #210749;
    font-family: 'Franklin Gothic Medium';
    text-align: justify;
}

.footer {
    color: rgb(165, 21, 21);
    font-family: 'Franklin Gothic Medium';
}